html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'play';
}

//styling for MotGo name on home screen
#moto {
    margin-left: 125px;
    margin-top: 80px;
    font-size: 95px;
    color: white;
}

#navbar-logo {
    height: 40px;
}

mark.green {
    color: greenyellow;
    background: none;
    opacity: 0.5;
    font-size: 125px;
    
}
.topnav {
    margin-top: -23px;
    background-color: black;
}

    #findBikesButton {
        text-decoration: none;
        position: relative;
        top: 90px;
        left: 350px;
    }
    
    #listMyBikeButton {
        text-decoration: none;
        position: relative;
        top: 40px;
        left: 120px;
    }

    #searchBar {
        height: 12px;
        border-radius: 7px;
    }
    
    .button {       
        border: none;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        background-color: rgba(grey, .75); 
        color: white;
        cursor: pointer;
        transition-duration: .8s;
        display: inline-block;
        color: black; 
        border-radius: 12px;
        height: 10px;
        font-family: 'play';
        text-align: center; 
        line-height: 12px;
  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }


body {
    overflow-x: hidden;
    font-weight: normal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.map {
    justify-content: right;
}

.app {
    margin-top: 2rem;
    display: grid;
    // justify-items: center;
}