html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'play';
}

//styling for MotGo name on home screen
#moto {
    margin-left: 125px;
    margin-top: 80px;
    font-size: 95px;
    color: white;
}



mark.green {
    color: greenyellow;
    background: none;
    opacity: 0.5;
    font-size: 125px;
    
}

.postShowImg {
   width: 50%;
   padding: 20px;
   margin-top: 40px;
}

.bikeShowDesc {
  float: right;
  margin: 0 auto;
  max-width: 300px;
  padding: 12px;
  margin-right: 100px;
  margin-top: 100px;
}
#price {
    margin-left: 280px;
}


.login-form {
    background-color: rgba(39, 39, 38, 0.7);
    border-radius: 25px;
    height: 150px;
    width: 300px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 50px;
   padding: 20px; 
}

.createBike {
    background-color: rgba(39, 39, 38, 0.7);
    border-radius: 25px;
    height: 150px;
    width: 300px;
    margin-top: 200px;
    margin-left: 75px;
    padding-top: 50px;
    padding: 20px; 
}

.login-input {
    margin-left: 35px;
    border-radius: 75px;
    width: 225px;
    height: 25px;
}
.login-submit {
    position: relative;
    margin-top: 30px;
    margin-left: 120px;
    width: 50px;
    height: 25px;
    border-radius: 75px;
}

// navbar stuff

.container {
    width:80%;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, 0.808);
}


header::after {
    content: '';
    display: table;
    clear: both;
}

#navbar {
    overflow: hidden;  
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar-logo {
    height: 40px;
    float: left;
    padding: 5px 0;
    margin-left: -100px;
}
.nav-atar {
    border-radius: 50%;
    height: 40px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 17px;

    position: relative;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

nav a:hover {
    color: whitesmoke;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: whitesmoke;
    
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

    nav a:hover::before {
        width: 100%;
    }


    #findBikesButton {
        text-decoration: none;
        font-weight: bold;
        position: relative;
        top: 90px;
        left: 350px;
    }
    
    #listMyBikeButton {
        text-decoration: none;
        font-weight: bold;
        position: relative;
        top: 40px;
        left: 120px;
    }

    #searchBar {
        height: 12px;
        border-radius: 7px;
    }
    
    .button {       
        border: none;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        background-color: rgba(grey, .75); 
        color: white;
        cursor: pointer;
        transition-duration: .8s;
        display: inline-block;
        color: black; 
        border-radius: 12px;
        height: 10px;
        font-family: 'play';
        text-align: center; 
        line-height: 12px;
  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }


body {
    overflow-x: hidden;
    font-weight: normal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    // background: #222;
}
#innerMap {
    position: fixed;
}

.bikeMap {
    padding-right: 15px;
    margin-top: -13px;
    height: 83vh;
    width: 60%;
    float: right;
}


.card {
    padding: 40px;

}

